@font-face {
  font-family: "black chancery";
  src: url('fonts/BlackChancery.ttf');
}

@font-face {
  font-family: "unzialish";
  src: url('fonts/UnZialish.ttf');
}

@font-face {
  font-family: "jarrow";
  src: url('fonts/Jarrow.ttf');
}

h1, h2{
  font-family: "unzialish";
  text-align: center;
}

ul.topnav{
  list-style-type: none;
  font-family: "unzialish";
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url(images/wood2.png);
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: inline-block;
  color: #FFDAB9;
  text-align: center;
  padding: 20px 26px;
  text-decoration: none;
  font-size: 22px;
}

#menu{
  padding: 0;
  margin: 0;
  border-style: solid;
  border-color: black;
  border-width:1px;
}

#general{
  padding-top: 10px;
  padding-left : 10px;
  height: 900px;
}

body{
  color: #FFDAB9;
  background-image: url(images/green_background.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding:0;
}

#gameWindow{
  height:650px;
  width:1050px;
  margin: auto;
  background-image:url(images/light_bulbs2.jpg);
  background-size:100% 100%;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  border-width:1px;
}

#svgWin{
  position: relative;
  float:left;
}

#sidebar{
  height:647px;
  margin-left:85%;
  padding-left:1.5%;
  padding-right:1.5%;
  padding-top: 3px;
  border-style: solid;
  border-color: black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 18px;
  border-left-width: 1px;
  border-right-width:0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  background-image: url(images/wood.png);
  font-family: "jarrow";
  font-size:20px;
  line-height: 1;
}

span{
  position:absolute;
  right: 100px;
  background:rgba(44,9,0,.9);
  padding:15px;
  border-radius: 5px;
  height: 150px;
  width:400px;
  box-shadow: 0 0 2px rgba(0,0,0,.5);
  opacity: 0;
  z-index: -1;
}


ul{
  padding: 0;
}

#rules, #credits1, #credits2{
  list-style-type: none;
  margin:auto;
  text-align: center;
  font-family: "black chancery";
  font-size: 22px;
}

#take, #discard{
  position:absolute;
  top:350px;
}

#take{
  right: 52%
}

#discard{
  right:47%;
}

#right, #up, #down{
  position:absolute;
  top:660px;
}

#up{
  right: 55%;
}

#right{
  right: 50%;
}

#down{
  right: 45%;
}

#messageZone strong {
  color: white;
  background-color: black;
  padding: 2px;
}

.tour {
  display: inline-block;
  border: 2px groove #EC9A29;
  background-color: #A8201A;
  padding: 4px;
}
